* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-backgroun: #f0fdf4;
    --text-color: #052e16;
}

body{
    background: var(--main-backgroun);
    color: var(--text-color)
}
